@page
@using MeetAdl.Models;
@model MeetAdl.Pages.Groups.DetailsModel
@{
    ViewData["Title"] = "MeetAdl - " + Model.GroupDetails.Name;
    string eventNameWidth = "w-75";
    string userNameWidth = "w-75";
}

<div class="d-flex flex-row">
    <h1 class="px-4 my-1">
        @Model.GroupDetails.Name
    </h1>
    <a class="btn btn-primary mx-1 my-2" asp-page="./Update" asp-route-groupId="@Model.GroupDetails.Id">
        <i class="bi bi-pen"></i>
    </a>

    @* Switch between join or leave group. *@
    @if (Model.UserIsAlreadyMember)
    {
        <form method="post">
            <button class="btn btn-danger mx-1 my-2" asp-page-handler="LeaveGroup" asp-route-groupId="@Model.GroupDetails.Id" onclick="return confirm('Are you sure that you want to leave this group?')">
                <i class="bi bi-person-fill-dash"></i> Leave Group
            </button>
        </form>
    }
    else
    {
        <a class="btn btn-success my-2" name="Join Group" asp-page="Join" asp-route-groupId="@Model.GroupDetails.Id">
            <i class="bi bi-person-fill-add"></i> Join Group
        </a>
    }

</div>
<div class="px-4 my-1">
    <p>@Model.GroupDetails.Description</p>
</div>
<div class="d-flex flex-row flex-wrap mt-2">
    <div class="card d-flex flex-column p-2 w-25 mw-10">
        <div class="d-flex flex-row flex-wrap mb-2">
            <h2 class="my-1 card-title">Events</h2>
            <a class="btn btn-primary p-2 ms-auto" asp-page="./Events/Create" asp-route-groupId="@Model.GroupDetails.Id">
                <i class="bi bi-calendar-event"></i> Create an event
            </a>
        </div>
        @if (Model.GroupDetails?.MeetupEvents != null && Model.GroupDetails.MeetupEvents.Any())
        {
            foreach (MeetUpEvent meetup in Model.GroupDetails.MeetupEvents)
            {
                <div class="d-flex flex-row flex-wrap p-1 m-1 my-2">
                    <a class="@eventNameWidth" asp-page="./Events/Details" asp-route-groupId="@Model.GroupDetails.Id" asp-route-eventId="@meetup.Id">@meetup.Name at @meetup.Location</a>

                    <a class="btn btn-primary mx-1 ms-auto" asp-page="./Events/Update" asp-route-groupId="@Model.GroupDetails.Id" asp-route-eventId="@meetup.Id">
                        <i class="bi bi-pen"></i>
                    </a>
                </div>
            }
        }
        else
        {
            <p> no events planned :(</p>
        }

    </div>
    <div class="d-flex flex-column px-4 py-2 w-50 mw-20">
        <div class="d-flex flex-row flex-wrap mb-2">
            <h2 class="my-1">Posts</h2>
            <a class="btn btn-primary p-2 mx-4" asp-page="./Posts/Create" asp-route-groupId="@Model.GroupDetails?.Id">
                <i class="bi bi-plus"></i> Make Post
            </a>
        </div>
        @{
            if (Model.GroupDetails?.Posts != null)
            {
                foreach (Post post in Model.GroupDetails.Posts)
                {
                    <div class="card d-flex flex-row flex-wrap p-1 m-1">
                        <div class="">
                            <div class="fw-bold">@post.User?.DisplayName:</div>
                            <div>@post.Text</div>
                        </div>
                        <div class="d-flex flex-row p-2 mx-3 ms-auto">
                            <a class="btn btn-primary mx-1" asp-page="./Posts/Update" asp-route-groupId="@Model.GroupDetails.Id" asp-route-postId="@post.Id">
                                <i class="bi bi-pen"></i>
                            </a>
                            <form method="post">
                                <button class="btn btn-danger mx-1" asp-page-handler="DeletePost" asp-route-groupId="@Model.GroupDetails.Id" asp-route-postId="@post.Id" onclick="return confirm('Are you sure that you want to delete this? This cannot be undone')">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>

                        </div>
                    </div>
                }
            }
            else
            {
                <p> No posts in this group yet, you could be first!</p>
            }
        }
    </div>
    @if (Model.GroupDetails?.UserGroups != null)
    {
        <div class="card w-25 d-flex flex-column p-2 mw-10">
            <div class="card-body">
                <h2 class="card-title">Members</h2>
                @{
                    string memberCountText;
                    if (Model.GroupDetails.UserGroups.Count() == 0)
                    {
                        memberCountText = "No Members!";
                    }
                    else if (Model.GroupDetails.UserGroups.Count() == 1)
                    {
                        memberCountText = "1 Member";
                    }
                    else
                    {
                        memberCountText = Model.GroupDetails.UserGroups.Count() + " Members!";
                    }
                }
                <p class="card-subtitle">@memberCountText</p>
                @foreach (GroupMember member in Model.GroupDetails.UserGroups)
                {
                    @if (member.User != null)
                    {
                        <div class="card d-flex flex-row flex-wrap p-1 m-1">

                            <div class="@userNameWidth">
                                <p class="fw-bold">@member.User.DisplayName</p>
                                @if (!string.IsNullOrWhiteSpace(member.JoiningComments))
                                {
                                    <span>I joined because:</span>
                                    <p class="small">@member.JoiningComments</p>
                                }
                            </div>
                            <div class="d-flex flex-row ms-auto">
                                <form method="post">
                                    <button class="btn btn-danger mx-1" asp-page-handler="DeleteMember" asp-route-groupId="@Model.GroupDetails.Id" asp-route-userId="@member.UserId" onclick="return confirm('Are you sure that you want to remove this member?')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>

                            </div>
                        </div>

                    }
                }
            </div>

        </div>
    }

</div>